<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TXCustomMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E429C2E21FA16CFD00D33AA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E429C2FB1FA16CFE00D33AA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E429C3061FA16CFE00D33AA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
